<div class="card-body text-center parallax">
  <h1 class="card-text main">Help our fosters find a forever home!</p>
</div>
<div class="flex">
  <a href="/fosters"><i class="fas fa-dog index-icon"></i></a>
  <a href="/shelters"><i class="fas fa-home index-icon"></i></a>
  <a href="/users"><i class="fas fa-user index-icon"></i></a>
</div>