<div class="container">
  <h2 class="text-center">Add a Foster</h2>
  <div class="col-8">
    <form action="/fosters" method="POST">
      <div class="form-group">
        <label class="input-text" for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Please enter your foster's name">
      </div>
      <div class="form-group">
        <label class="input-text" for="breed">Breed</label>
        <input class="form-control" type="text" name="breed" id="breed" placeholder="Please enter your foster's breed">
      </div>
      <div class="form-group">
        <label class="input-text" for="gender">Gender</label>
        <input class="form-control" type="text" name="gender" id="gender"
          placeholder="Please enter your foster's gender">
      </div>
      <div class="form-group">
        <label class="input-text" for="age">Age</label>
        <input class="form-control" type="text" name="age" id="age" placeholder="Please enter your foster's age">
      </div>
      <div class="form-group">
        <label class="input-text" for="size">Size</label>
        <input class="form-control" type="text" name="size" id="size" placeholder="Please enter your foster's size">
      </div>
      <div class="form-group">
        <label class="input-text" for="adoptionFee">Adoption Fee</label>
        <input class="form-control" type="text" name="adoptionFee" id="adoptionFee"
          placeholder="Please enter your foster's adoption fee">
      </div>
      <div class="form-group">
        <label class="input-text" for="petImg">Foster Image</label>
        <input class="form-control" type="text" name="petImg" id="petImg"
          placeholder="Please provide a link to an image of your foster">
      </div>
      <div class="form-group">
        <label class="input-text" for="description">Description</label>
        <input class="form-control" type="text" name="description" id="description"
          placeholder="Please provide a description of your foster">
      </div>
      <input class="btn btn-info" type="submit" value="SUBMIT">
      <div class="box"></div>
    </form>
  </div>
</div>