<div class="card-body parallax">
  <h5 class="card-title">Foster Finder</h5>
  <p class="card-text">Help find our fosters a forever home!</p>
  <a href="/users/new" class="btn btn-primary">Create a new user</a>
</div>


