.parallax {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('https://farm8.staticflickr.com/7924/32340897707_0ae38fc717_b.jpg');
  height: 600px;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  color: whitesmoke;
  font-size: 5vw;
  font-family: 'Lato', sans-serif;
  margin-top: 2vw;
}

.main-icon {
  margin-left: 2vw
}