<div class="card-body text-center parallax">
  <h5 class="card-title main">Foster Finder<i class="fas fa-paw main-icon"></i></h5>
  <p class="card-text main">Help our fosters find a forever home!</p>
  <a href="/users/new" class="btn btn-primary">Create a new user</a>
</div>