<div class="card-body text-center">
  <h3 class="card-text sub-main">Change a life and make a friend forever</p>
</div>
<div class="card-body text-center">
  {{#each users}}
  <div>
    <h1 class="user-text"><a href="/users/{{id}}">{{name}}</a></h1>
    <div class="image-flex">
      <img class="user-image" src="{{userImg}}" alt="uder image" height="190" width="235">
    </div>
    <h2 class="user-text">{{localShelter}}</h2>
  </div>
  {{/each}}
  <div class="panel-footer row text-center justify-content-center">
    <div class="col-xs-6 text-center">
      <a href="/users/new" id="add-user" class="btn btn-primary btn-lg button">Create a new user</a>
    </div>
  </div>
</div>