<div class="container">
  <h2 class="text-center">{{user.name}}</h2>
  <div class="image-flex">
    <img class="user-image" src="{{user.userImg}}" alt="uder image" height="190" width="235">
  </div>
  <h3 class="text-center">{{user.localShelter}}</h3>
  <div class="text-center">
    <form class="delete-form" action="/users/{{user.id}}?_method=DELETE" method="POST">
      <input class="action-btn btn btn-danger btn-lg button" type="submit" value="DELETE">
    </form>
  </div>
</div>